:root {
	--primary: #e0d7a3;
	--secondary: #214763;
	--tertiary: #a43750;
	--fontTitle: 'Englebert', sans-serif;
	--fontSubTitle: 'Raleway', sans-serif;
	--fontShortText: 'Raleway', sans-serif; /* font-weigth: 500; */
	--fontLongText: 'Oxygen', sans-serif;
}

.load-suspence {
	height: 100vh;
	background-color: #ffff;
	color: #000;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.route-wrapper {
	position: relative;
}

.route-wrapper > div {
	position: absolute;
}
