.register-map {
	display: flex;
	text-align: center;
	place-content: center;
}

.pointer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pointer p {
	color: yellow;
	font-weight: 700;
	font-size: 18px;
}
.circle {
	background-color: red;
	width: 15px;
	height: 15px;
	border-radius: 45px;
	border: solid 5px yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
